body {
    font-family: 'Montserrat', sans-serif;
    background-color: orange;
    color: gray;
}

#l1 {
   color: red; 
}

#l2 {
   color: white; 
}

#l3 {
   color: blue;
}

ul {
font-family: 'Shadows Into Light', cursive;    
}